# Bỏ qua thư mục source control, meta
.git
.gitignore
.vscode
.idea

# Node, dotnet, Java build artifacts
node_modules
bin
obj

# Docker files, môi trường, log
docker-compose*
Dockerfile*
.env
npm-debug.log

# Một số file project của VS/IDE
*.user
*.dbmdl
*.jfm
.classpath
.project
.settings
.toolstarget

# File/yaml CI/CD, Kubernetes, Helm
azds.yaml
charts
secrets.dev.yaml
values.dev.yaml

# (Tùy chọn) không đưa README, LICENSE vào image
LICENSE
README.md
