version: "3.8"
services:
  mamafit-api:
    image: ${REGISTRY_NAME}/mamafit-api:latest
    restart: unless-stopped
    container_name: mamafit-api
    ports:
      - "80:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ConnectionStrings__DefaultConnection=${DB_CONN}
      - JWT__SecretKey=${JWT_SECRET}
      - CLOUDINARY__ApiKey=${CLOUDINARY_API_KEY}
      - CLOUDINARY__ApiSecret=${CLOUDINARY_API_SECRET}
      - EmailSettings__ApiKey=${MAILGUN_API_KEY}
      - EmailSettings__Domain=${MAILGUN_DOMAIN}