version: "3.8"
services:
  mamafit-api:
    image: ${REGISTRY_NAME}/mamafit-api:latest
    restart: unless-stopped
    container_name: mamafit-api
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ConnectionStrings__DefaultConnection=Host=${VPS_HOST};Database=${DB_NAME};Username=${DB_USER};Password=${DB_PASSWORD}
      - ConnectionStrings__HangfireConnection=Host=${VPS_HOST};Database=${HANGFIRE_DB_NAME};Username=${DB_USER};Password=${DB_PASSWORD}
      - JWT__SecretKey=${JWT_SECRET}
      - CLOUDINARY__ApiKey=${CLOUDINARY_API_KEY}
      - CLOUDINARY__ApiSecret=${CLOUDINARY_API_SECRET}
      - EmailSettings__ApiKey=${MAILGUN_API_KEY}
      - EmailSettings__Domain=${MAILGUN_DOMAIN}
      - RedisSettings__ConnectionString=${REDIS_CONN}
      - SepaySettings__ApiKey=${SEPAY_API_KEY}
      - SepaySettings__ApiBaseUri=${SEPAY_API_BASE_URI}
      - SepaySettings__AccountNumber=${SEPAY_ACCOUNT_NUMBER}
      - SepaySettings__AccountName=${SEPAY_ACCOUNT_NAME}
      - SepaySettings__BankCode=${SEPAY_BANK_CODE}
      - GhtkSettings__ApiToken=${GHTK_API_TOKEN}
      - GhtkSettings__BaseUri=${GHTK_BASE_URI}
    networks:
      - default

networks:
  default:
    name: mamafit-network
    driver: bridge