<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets>
		<!-- Ghi log lỗi -->
		<target xsi:type="File" name="errorFile"
				fileName="logs/error-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}|url:${aspnet-request-url}|action:${aspnet-mvc-action}|${callsite}"
				archiveEvery="Day"
				maxArchiveFiles="7"
				concurrentWrites="true"
				keepFileOpen="false" />

		<!-- Ghi log thông thường -->
		<target xsi:type="File" name="infoFile"
				fileName="logs/info-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}|url:${aspnet-request-url}|action:${aspnet-mvc-action}|${callsite}"
				archiveEvery="Day"
				maxArchiveFiles="7"
				concurrentWrites="true"
				keepFileOpen="false" />

		<!-- Ghi ra console -->
		<target xsi:type="Console" name="console"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}" />
	</targets>

	<rules>
		<!-- Ghi lỗi từ Error trở lên vào file error -->
		<logger name="*" minlevel="Error" writeTo="errorFile,console" />

		<!-- Ghi log từ Info đến Warn vào file info -->
		<logger name="*" minlevel="Info" maxlevel="Warn" writeTo="infoFile,console" />

		<!-- Bỏ qua log không quan trọng từ Microsoft -->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />
	</rules>
</nlog>
